
<h2>Cuadro de Mando Integral</h2>

<div class="row">
    <div class="container">
        <div class="card ">
            <div class="card-header">
                <h4 class="card-title">Productos</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table tablesorter " id="tablacmi">
                        <thead class=" text-secondary">
                            <tr>
                                <th>
                                    Nombre del Objetivo
                                </th>
                                <th>
                                    Nombre del Indicador
                                </th>
                                <th>
                                    Tipo de Indicador
                                </th>
                                <th>
                                    Nombre del Perspectiva
                                </th>
                                <th>
                                    Nombre del CMI
                                </th>
                                <th>
                                    Descripcion del CMI
                                </th>
                                <th>
                                    Periodo del CMI
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>